:root {
  --color-half-black: rgba(0, 0, 0, .4);
  --spotify-green: rgb(0, 214, 104);
  --spotify-black: rgb(0, 0, 0);
  color: aliceblue;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.transBg {
  background: var(--color-half-black);
  border: solid rgba(224, 255, 255, 0.6) 1px;
  border-radius: 4px;
  padding: 1rem;
  color: aliceblue;
  backdrop-filter: blur(1px);
  ;
}

#cesiumContainer {
  border: 0;
  border-radius: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(1, 19, 45, 0.6);
}

.local_container,
.overall_container {
  position: absolute;
  top: 1rem;
}

.local_container {
  left: 1rem;
}

.local_container select {
  min-width: 4rem;
  height: 2rem;
  padding: .5rem;
  border: solid lightcyan 1px;
  background: var(--color-half-black);
  color: aliceblue;
  margin-right: 1rem;
}

.overall_container {
  top: 6rem;
  left: 18rem;
  padding: 0;
}

.overall_container>div {
  width: 7rem;
  height: 7rem;
}

.locSelect_container {
  position: absolute;
  bottom: 2px;
  max-width: 75vw;
  min-width: 720px;
  height: 32px;
  right: calc(50vw - 360px);
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  align-items: center;
}

.local_container button,
.overview-btn {
  width: auto;
  min-width: 4rem;
  height: 2rem;
  color: rgba(240, 248, 255) !important;
  font-size: 12pt !important;
  font-weight: 700;
  background: rgba(240, 248, 255, 0.1);
  border: 1px solid rgba(240, 248, 255, .6);
}

.locSelect_container .check-container {
  display: flex;
  justify-content: space-between;
  /* justify-content: center; */
  align-items: center;
}


.locSelect_container button {
  cursor: pointer;
  width: 160px;
  height: 40px;
  border-radius: 4px;
  margin: 0 1rem;
  color: aliceblue;
  padding: 0;
  font-size: 1.25rem;
  transition: all .36s ease-in-out;
}

.local_container button {
  border-radius: 2px;
}

.local_container button:hover,
.locSelect_container button:hover {
  transform: scale(1.1);
  transition: all .36s ease-in-out;
  background: #48b;
  background-image: #48b;
  cursor: pointer;
}

.locSelect_container button:active {
  transform: scale(0.95);
  transition: all .36s ease-in-out;
  background: rgba(72, 72, 72, 0.2);
  cursor: pointer;
}

#checkType {
  background: rgba(249, 76, 76, 0.8);
}

#checkGroup {
  background: rgba(253, 216, 55, 0.8);
}

#handlerConfirm,
#checkHandle {
  background: rgba(13, 211, 79, 0.8);
}

#localName {
  position: absolute;
  top: -3rem;
  left: 0;
  height: 2rem;
  width: auto;
  min-width: 20rem;
  box-sizing: border-box;
}

.errorData {
  background: rgb(88, 88, 88);
  cursor: not-allowed;
}

.checkbox {
  position: absolute;
  top: -2rem;
  right: 0;
}

#changedInfo {
  position: absolute;
  left: 1rem;
  top: 6rem;
  height: 5rem;
  width: 14rem;
  overflow: auto;
  font-size: 8pt;
}

#changedInfo p {
  margin: 0;
  padding: 4px 0;
  text-indent: 16pt;
  border-bottom: 1px solid rgba(245, 245, 245, 0.5);
}

#manuSelect {
  position: absolute;
  top: -3rem;
  left: 0;
}

#updateCode {
  height: 1.5rem;
  width: 20rem;
  padding: 4px;
}

#manuSelectForm button {
  width: 4rem;
  height: 2rem;
}

.errorInfo {
  color: red;
}

.warnInfo {
  color: yellow;
}

.successInfo {
  color: aqua;
}

.cesium-infoBox,
.cesium-viewer-infoBoxContainer {
  z-index: 99;
}

.map-btn {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-image: url('../assets/map.svg');
}

.border-btn {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-image: url('../assets/village-border.svg');

}

.zhuji-btn {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-image: url('../assets/text.svg');
  background-clip: padding-box;
  background-size: 1rem;
  background-repeat: no-repeat;
  background-position: center;
}

.village-border-btn {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-image: url('../assets/border-inner.svg');

}

.landcover-btn {
  width: 100%;
  height: 100%;
  background-clip: padding-box;
  background-repeat: no-repeat;
  background-image: url('../assets/ESRI_landuse.png');
  background-position: center;
}

.ESA-landcover-btn {
  width: 100%;
  height: 100%;
  background-clip: padding-box;
  background-size: 2rem;
  background-repeat: no-repeat;
  background-image: url('../assets/ESA_landuse.png');
  background-position: center;
  border-radius: 10px;
}

.WSF-2019-btn {
  width: 100%;
  height: 100%;
  background-clip: padding-box;
  background-size: 2rem;
  background-repeat: no-repeat;
  background-image: url('../assets/WSF-c.png');
  background-position: center;
  border-radius: 10px;
}

#cesiumContainer .cesium-baseLayerPicker-dropDown-visible {
  z-index: 9999;
}

.cesium-infoBox {
  top: 6rem;
  /* width: 20%; */
}

.cesium-viewer-toolbar {
  top: 1rem;
  align-self: right;
}

.active-btn {
  stroke: aquamarine;
  /* fill: aqua; */
}

.alpha-control,
.sentinel-land-cover-2021 {
  display: block;
  width: 8rem;
}

.alpha-control-container {
  position: absolute;
  top: 4.8rem;
  text-align: right;
  padding: 4px;
  border-radius: 4px;
  background-color: rgba(40, 40, 40, .7);
  transform-origin: top left;
  transform: rotate(0.25turn);
}

.sentinel-landCover-2021-alpha-control-container {
  right: -3.6rem;
}

.village-border-alpha-control-container {
  right: -1.3rem;
}

.ESA-landcover-alpha-control-container {
  right: -6.1rem;
}

.WSF-2019-alpha-control-container {
  right: -8.4rem;
}

.loading {
  display: inline-block;
  /* margin-top: 1rem; */
}

.right {
  display: flex;
  /* height: 100%; */
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0);
}

.hidden {
  display: none;
}

.wave {
  width: 2px;
  height: 20px;
  background: linear-gradient(45deg, cyan, #fff);
  margin: 2px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}

.wave:nth-child(2) {
  animation-delay: 0.1s;
}

.wave:nth-child(3) {
  animation-delay: 0.2s;
}

.wave:nth-child(4) {
  animation-delay: 0.3s;
}

.wave:nth-child(5) {
  animation-delay: 0.4s;
}

.wave:nth-child(6) {
  animation-delay: 0.5s;
}

.wave:nth-child(7) {
  animation-delay: 0.6s;
}

.wave:nth-child(8) {
  animation-delay: 0.7s;
}

.wave:nth-child(9) {
  animation-delay: 0.8s;
}

.wave:nth-child(10) {
  animation-delay: 0.9s;
}

.cesium-viewer-toolbar {
  display: flex;
  max-width: 480px;
  flex-flow: row wrap;
  justify-content: end;
}

.cesium-viewer-geocoderContainer .cesium-geocoder-input-wide,
.cesium-viewer-geocoderContainer .cesium-geocoder-input:focus,
.cesium-viewer-geocoderContainer .cesium-geocoder-input {
  padding-left: 4px;
  width: 250px;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@media screen and (max-width: 960px) {

  .local_container {
    display: none;
  }

  #changedInfo {
    top: 1rem;
    height: 2.5rem;
    width: 12rem;
    /* overflow: hidden; */
  }

  #changedInfo p {
    font-size: smaller;
  }

  .overall_container {
    left: 1rem;
  }

  .village-border-alpha-control-container,
  .sentinel-landCover-2021-alpha-control-container {
    font-size: small;
  }

  .locSelect_container {
    font-size: small;
  }

  .cesium-infoBox {
    width: 18rem;
  }
}

@media screen and (min-width:960px) and (max-width: 1100px) {
  .local_container {
    padding: .5rem;
  }

  #changedInfo {
    display: none;
  }

  .overall_container {
    top: 4.5rem;
    left: 1rem;
    padding: 0;
  }

  .cesium-infoBox {
    width: 20rem;
  }
}

#errorTips {
  text-decoration: none;
  color: rgb(73, 238, 235);
}

.inactive{
  /* filter:invert(70%) ; */
  filter: grayscale(90%);
  /* backdrop-filter: grayscale(90%); */
}